@import "tailwindcss";

:root {
  --background: #fff3df;
  --foreground: #252525;
  --text-color: #464646;
  --primary: #007b7b;
  --primary-light: #83bebe;
}

.dark {
  --background: #252525;
  --foreground: #fff3df;
  --text-color: #d9d9d9;
  --primary: #007b7b;
  --primary-light: #83bebe;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text: var(--text-color);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
